@import "./responsive.scss";

.actions-modal-container {
  width: 668px;
  height: 206px;
  padding: 25px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;

  .actions-modal-title-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 20px;
  }

  .actions-modal-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 120%;
  }

  .actions-modal-button-container {
    display: flex;
    gap: 32px;
    justify-content: flex-end;
    margin-top: 24px;
  }

  .actions-modal-action-button {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
  }

  .actions-modal-action-button:hover {
    color: var(--base-color-500);
  }

  .actions-modal-cancel-button {
    padding: 10px 60px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--base-color-100);
    background-color: var(--base-color-800);
    text-transform: uppercase;
  }

  .actions-modal-cancel-button:hover {
    background-color: var(--base-color-100);
    color: var(--base-color-800);
    outline: 2px solid var(--base-color-800);
  }
}