@import "./responsive.scss";

.checkout-success-container {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .checkout-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    @include sm {
      margin-left: 40px;
      margin-right: 40px;
    }
  }

  .checkout-success-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 120%;
    
    @include sm {
      font-family: "Inter", sans-serif;
      font-weight: bold;
      font-size: 2rem;
      line-height: 120%;
      white-space: nowrap ;
    }
  }

  .checkout-success-description {
    font-size: 24px;
    color: var(--base-color-600);
    text-align: center;

    @include sm {
      font-size: 16px;
      white-space: nowrap;
    }
  }

  .checkout-success-button {
    width: 302px;
    height: 41px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--base-color-800);
    color: var(--base-color-100);
    cursor: pointer;
  }
}