@import "./responsive.scss";

.forgot-password-step-3-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 100px;

  @include sm {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.new-password {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--tertiary-color-200);
  margin-bottom: 24px;
}

.previous-password {
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-password-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .error-message {
    font-size: 14px;
    margin-top: 5px;
    color: var(--information-red-color-400);
  }
}

.new-password-input {
  padding: 20px;
  width: 410px;
  height: 56px;
  border-radius: 4px;
  border: 1.5px solid var(--base-color-200);
}

.new-password-input::placeholder {
  color: var(--base-color-200);
  font-size: 16px;
}

.new-password-descr {
  font-size: 14px;
  font-weight: 300;
  color: var(--base-color-400);
}

.new-password-confirm-container {
  margin-top: 24px;
}

.reset-password-button-container {
  margin-top: 24px;
}

.reset-password-button {
  width: 410px;
  height: 41px;
  text-transform: uppercase;
  color: var(--base-color-100);
  background-color: var(--base-color-300);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border: none;
}

.new-password-resend-container {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}