@import "./responsive.scss";


.forgot-password-header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 150px;

  @include sm {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.forgot-password-close-button {
  width: 32px;
  height: 32px;
  cursor: pointer;
}


.forgot-password-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.password-lock {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--information-red-color-100);
  margin-bottom: 24px;
}

.password-icon {
  width: 32px;
  height: 32px;
}

.forgot-password-title-container {
  margin-bottom: 8px;
}

.forgot-password-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 120%;
}

.password-span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-password-description-container {
  margin-bottom: 24px;
}

.forgot-password-description {
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.forgot-password-input-container {
  margin-bottom: 24px;

  .error.message {
    font-size: 14px;
    color: var(--information-red-color-400);
  }
}

.forgot-password-input {
  width: 410px;
  height: 56px;
  padding: 20px;
  border-radius: 4px;
}

.forgot-password-input::placeholder {
  font-size: 16px;
}

.send-now-button {
  width: 410px;
  height: 41px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--base-color-800);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.send-now-button:hover {
  background-color: var(--base-color-100);
  color: var(--base-color-800);
}