@import "./responsive.scss";

.header-with-user-container {
  background-color: var(--base-color-100);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {

    // flex-direction: column;
    justify-content: space-between;
  }
}

.logo {
  @include sm {
    display: none;
  }
}

.small-logo {
  @include xl {
    display: none;
  }
  
  @include lg {
    display: none;
  }

  @include sm {
    display: flex;
  }
}



.header-with-user-input-container {
  position: relative;
  display: flex;
  align-items: center;

  @include sm {
   display: none;
  }
}

.discover-button {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: var(--base-color-800);

  @include sm {
    // display: none;
  }
}


.header-content-container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.notifications-icon {
  cursor: pointer;
}

.cart-icon {
  cursor: pointer;
}