@import "./responsive.scss";

.modal-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  padding: 25px;
  background-color: var(--white);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 4px;
}

.modal-title-container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .arrow-icon {
    cursor: pointer;
  }

  .add-new-card-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 120%;
  }
}

.card-number-input-container {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .card-number-input {
    width: 298px;
    height: 56px;
    border-radius: 4px;
    padding: 20px;
    background-color: var(--white);
    color: var(--base-color-300);
    font-size: 16px;
    border: 1px solid var(--base-color-200);
    outline: none;
  }
  
  .error-message {
    font-size: 14px;
    color: var(--information-red-color-400);
  }
}

.modal-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 120%;
}

.modal-privacy-policy {
  margin-top: 32px;
  margin-left: 24px;
  margin-bottom: 32px;
}

.modal-button-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-save-new-card-button {
    text-align: center;
    width: 298px;
    height: 41px;
    border-radius: 4px;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--base-color-800);
    cursor: pointer;
    font-weight: 600;
  }
}