@import "./responsive.scss";

.personal-profile-container {
    .personal-profile-image-container {
      margin-top: 32px;
      background-color: var(--base-color-100);
      border-radius: 4px;
      width: 1014px;
      height: 229px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 16px;
      gap: 8px;

      @include md {
        width: 650px;
      }

      @include ms {
        width: 550px;
        margin-left: auto;
        margin-right: auto;
      }

      @include sm {
        margin-top: 0;
        margin-left: 40px; 
        width: 335px;
        height: 253px;
      }

      .personal-profile-image {
        margin-bottom: 16px;
      }

      .personal-profle-div-el {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
      }

      .change-profile-picture-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        width: 305px;
        height: 41px;
        border-radius: 4px;
        background-color: var(--base-color-800);
        color: var(--base-color-100);
        cursor: pointer;

        @include sm {
          width: 280px;
        }
      }
      
      .allowed-file-extensions {
       font-size: 16px;
       color: var(--base-color-400);
       @include sm {
        text-align: center;
       }
      }
    }
    
    .profile-bio-container {
      margin-top: 40px;

      @include ms {
        margin-left: 40px;
      }

      .profile-bio-title {
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 120%;
        
        @include sm {
         margin-left: 80px;
        }
      }

      .personal-profile-form-container {
        display: flex;
        align-items: center;
        gap: 24px;

        @include md {
          display: grid;
          grid-template-columns: repeat(2, 320px);
        }

        @include sm {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-left: 20px;
        }
      }

      .personal-profile-form-input {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .profile-form-input {
        width: 322px;
        height: 56px;
        padding: 20px;
        font-size: 16px;
        
        @include md {
          width: 290px;
        }
      }

      .personal-profile-label {
        margin-top: 24px;
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 1rem;
        line-height: 120%;
      }

      .personal-profile-save-button-container {
        margin-top: 16px;

        @include md {
         display: none;
        }

        .personal-profile-save-button {
          width: 322px;
          height: 41px;
          background-color: var(--base-color-800);
          color: var(--base-color-100);
          border-radius: 4px;
          cursor: pointer;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600;
        }

        .personal-profile-save-button:hover {
          background-color: var(--base-color-100);
          color: var(--base-color-800);
        }
      }
    }

    .profile-contact-info-container {
      margin-top: 40px;
      margin-bottom: 197px;

      @include ms {
        margin-left: 40px;
      }


      @include md {
        margin-top: 80px;
      }

      @include sm {
        margin-bottom: 40px;
      }

      .profile-contact-title {
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 120%;

          
        @include sm {
          margin-left: 80px;
        }
      }

      .profile-contact-form-container {
        display: flex;
        align-items: center;
        gap: 24px;

        @include ms {
          gap: 40px;
        }

        @include sm {
          flex-direction: column;
          align-items: center;
          margin-left: 20px;
        }

        .profile-contact-form-input {
          display: flex;
          flex-direction: column;
          gap: 16px;

          @include ms {
            gap: 30px;
          }

          .profile-contact-label {
            margin-top: 24px;
            font-family: "Inter", sans-serif;
            font-weight: bold;
            font-size: 1rem;
            line-height: 120%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .verified-text {
              font-family: "Inter", sans-serif;
              font-weight: bold;
              font-size: 0.875rem;
              line-height: 120%;
              color: var(--information-green-color-600);
            }
          }

          .profile-contact-input {
            width: 322px;
            height: 56px;
            padding: 20px;
            font-size: 16px;

            @include ms {
              width: 280px;
            }

            @include md {
              width: 280px;
            }
          }
        }
      }
    }

    .personal-profile-log-out {
      margin-bottom: 32px;
      display: flex;
      justify-content: flex-end;
      
      @include md {
        justify-content: center;
      }

      @include sm {
        justify-content: center;
        margin-left: 20px;
      }

      .personal-profile-log-out-button {
        width: 322px;
        height: 41px;
        background-color: var(--information-red-color-400);
        color: var(--base-color-100);
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        outline: none;
        border: none;
      }

      .personal-profile-log-out-button:hover {
        background-color: var(--information-red-color-300);
      }
    }

}