@import "./responsive.scss";


.product-item-flex-container {
  display: flex;
  gap: 18px;
}

.product-item-image-container {
  display: flex;
  gap: 16px;

  .product-item-number {
    font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 120%;
  }
}

.product-item-title {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 120%;
}

.right-flex-container {
  display: flex;
  gap: 230px;

  @include md {
    gap: 100px;
  }
}

.grams-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;

  .span-gram {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .product-item-price {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 120%; 
  }
}

.notes-container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .note-title {
    font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  line-height: 120%;
  }
}

.body-text-3 {
  font-size: 16px;
}