@import "./responsive.scss";

.profile-tabs-test-container {
  display: flex;
  gap: 32px;
  
  @include md {
    gap: 24px;
  }

  @include ms {
    gap: 10px;
    flex-direction: column;
  }

  @include sm {
    flex-direction: column;
  }
}

.profile-tabs-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  outline: 1px solid var(--base-color-200);


  @include ms {
    display: grid;
    grid-template-columns: repeat(3, 220px);
    padding: 25px;
    gap: 0px;
  }


  @include sm {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    padding: 15px;
    gap: 0;
  }
  
  .profile-tab-personal-profile {
    margin-top: 32px;
    margin-left: 40px;

    @include ms {
      margin-top: 0;
      margin-left: 10px;
    }

    @include sm {
      margin-top: 0;
      margin-left: 10px;
    }
  }

  .profile-tab {
    margin-left: 40px;

    @include ms {
      margin-left: 0;
    }
  }
}