@import "./responsive.scss";

.recommendation-title-container {
  margin-top: 100px;
  margin-bottom: 62px;
  text-align: center;

  .recommendation-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;

    @include sm {
      font-size: 2rem;
    }
  }
}