@import "./responsive.scss";

.sign-in-modal-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  @include md {
    gap: 24px;
  }
}

.logo-button-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 80px;
  gap: 350px;
  background-color: var(--base-color-800);
  width: 708px;
  height: 1024px;
  flex: 1;

  @include md {
   width: 500px;
   height: 848px;
   padding-left: 15px;
   flex: 2;
  }

  @include ms {
    display: none;
  }

  @include sm {
    display: none;
  }
}

.white-logo {
  width: 190px;
  height: 32px;
}

.login-modal-title-container {
  display: flex;
  flex-direction: column;


  .login-modal-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 4rem;
    line-height: 120%;
    color: var(--white);
    padding-bottom: 24px;
  }

  .login-modal-description {
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--base-color-300);

    @include md {
      font-size: 16px;
    }
  }
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 50px;
  flex: 1;

  @include md {
    gap: 0;
    width: 490px;
    height: 848px;
  }

  @include ms {
    align-items: center;
  }
}

.login-modal-close-button-container {
  margin-top: 30px;
  margin-right: 80px;

  @include ms {
    margin-left: auto;
  }

  @include sm {
    margin-right: 20px;
  }

  .login-modal-close-button {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
}

.login-modal-input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-right: 189px;

  @include md {
    margin-right: 80px;
    margin-top: 50px;
  }

  @include sm {
    margin-right: 10px;
  }
  
  .error-message {
    color: var(--information-red-color-400);
    font-size: 14px;
    margin-top: 4px;
  }

  .login-modal-input {
    border-radius: 4px;
    padding: 20px;
    border: 2px solid var(--base-color-200);
    width: 410px;
    height: 56px;
  }

  .login-modal-input::placeholder {
    color: var(--base-color-300);
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  .forgot-button-container {
    margin-left: auto;
  }

  .forgot-button {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    line-height: 120%;
    color: var(--base-color-800);
  }

  .forgot-button:hover {
    text-decoration: underline;
  }

  .login-modal-login-button {
    width: 410px;
    height: 41px;
    border-radius: 4px;
    background-color: var(--base-color-300);
    color: var(--base-color-100);
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;
  }

  .login-modal-login-button:hover {
    background-color: var(--base-color-800);
  }

  .or-span {
    text-align: center;
  }

  .login-modal-social-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .login-button-social-google {
    width: 410px;
    height: 41px;
    color: var(--base-color-100);
    background-color: #406AE3;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .login-button-social-google:hover {
    background-color: #7494f6;
  }

  .login-button-social-facebook {
    width: 410px;
    height: 41px;
    color: var(--base-color-100);
    background-color: #455991;
    border-radius: 4px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .login-button-social-facebook:hover {
    background-color: #8899c9;
  }

  .login-button-dont-have-account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;

    .sign-up-link {
      font-weight: 600;
      color: var(--base-color-800);
    }

    .sign-up-link:hover {
      text-decoration: underline;
    }
  }
}