@import "./responsive.scss";

.is-active {
  border-bottom: 4px solid #000;
  padding-bottom: 16px;
  border-radius: 2px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 120%;

  @include ms {
    font-size: 1rem;
  }
}

.tab-container {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 120%;
  color: var(--base-color-500);

  @include ms {
    font-size: 1rem;
  }
}